@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* Prevent page from scrolling while playing */
}
